*{
    padding: 0;
    margin: 0;
    color: white;
}

.container {
    background-color: black;
    width: 100%;
    height: 150vh;
}

.navbar {
    padding: 10px 15px 10px 15px;
    display: flex;
    justify-content: space-between;
    background-color: #F18303;
    align-items: center;
}

.add-image {
    color: #F18303;
    border-radius: 10px;
    height: 47px;
    width: 100px;
}

.form {
    padding-left: 30%;
    margin-top: 50px;
    display: none;
    width: 740px;
}

input{
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 7px;
    width: 740px;
    height: 40px;
    background-color: #4B4B4B;
}

.description {
    height: 100px;
}

.submit{
    background-color: #F18303;
    border-radius: 8px;
    width: 80px;
}
.cancel {
    background-color: #9A0000;
    border-radius: 8px;
    margin-left: 10px;
    width: 80px;
}

.submit-cancel {
    display: flex;
    justify-content: flex-end;
    height: 40px;
    
    
}

#gallery {
    
    height: 100%;
    display: flex;
    margin-left: 290px;
    max-width: 100%;
}

.image-container {

align-items: center;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  height: fit-content;
  border-style: solid solid solid solid;

}
.image-container:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    scale: 1.1;
  }

.image {
    height: 250px;
   width: 400px;
   margin-left: 40px;
   margin-right: 20px;
   border-radius: 5px 5px 0 0;
   margin-top: 15px;
   
}

.title {
    margin-left: 20px;
    margin-top: 10px;

}

.para {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 15px;
}

.para {
    max-width: 400px;
}